.rankingTable{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border: 1px solid rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 10px;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    height: fit-content;
    padding: 50px 80px 60px 80px;
    border-radius: 15px;
    

    transform: translate(0,-70px);
    transition: .5s;
}

.filters{
    margin: 30px;
}

th{
    background-color: #c99348;
}

td, th{
    padding: 8px;
    color: rgb(0, 0, 0);
}
table{
    height: 70vh;
    overflow: hidden;
    scroll-behavior: auto;
}

tbody{
    border-radius: 8px;
}
tr{
    transition: .5s;
    cursor: pointer;
    background: rgba(204, 204, 204, 0.6);
    height: 100px;
}

tr:nth-child(even){
    background: rgba(255, 255, 255, 0.6);
}


tr:hover{
    background-color: #d59d4d;
}

th a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(122, 59, 0);
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content label {
    display: block;
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: #f1f1f1;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
